/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
    .polygon-header {
        clip-path: polygon(50px 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    .polygon-overmij {
        clip-path: polygon(0% 30vw, 30vw 0%, 100% 0%, 100% 100%, 0% 100%);

    }

    .polygon-card {
        clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 50px), calc(100% - 50px) 100%, 0% 100%);
    }

    .polygon-half {
        clip-path: polygon(0% 100%, 100% 0%, 100% 100%, 0% 100%);
    }

    .polygon-diensten {
        clip-path: polygon(0 0, 0% 100%, 100% 0);

    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px) {
    .polygon-header {
        clip-path: polygon(50px 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    .polygon-overmij {
        clip-path: polygon(0% 30vw, 30vw 0%, 100% 0%, 100% 100%, 0% 100%);

    }

    .polygon-card {
        clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0% 100%);
    }

    .polygon-half {
        clip-path: polygon(0% 100%, 100% 0%, 100% 100%, 0% 100%);
    }

    .polygon-diensten {
        clip-path: polygon(0 0, 0% 100%, 100% 0);

    }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1200px) {
    .polygon-header {
        clip-path: polygon(70px 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    .polygon-overmij {
        clip-path: polygon(0% 30vw, 30vw 0%, 100% 0%, 100% 100%, 0% 100%);

    }

    .polygon-card {
        clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 70px), calc(100% - 70px) 100%, 0% 100%);
    }

    .polygon-half {
        clip-path: polygon(0% 100%, 100% 0%, 100% 100%, 0% 100%);
    }

    .polygon-diensten {
        clip-path: polygon(0 0, 0% 100%, 100% 0);

    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1352px) {
    .polygon-header {
        clip-path: polygon(80px 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    .polygon-overmij {
        clip-path: polygon(0% 30vw, 30vw 0%, 100% 0%, 100% 100%, 0% 100%);

    }

    .polygon-card {
        clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0% 100%);
    }

    .polygon-half {
        clip-path: polygon(0% 100%, 100% 0%, 100% 100%, 0% 100%);
    }

    .polygon-diensten {
        clip-path: polygon(0 0, 0% 100%, 100% 0);
    }
}